<html>
<head>
<title>url2ctxo bookmarklet</title>
<style type="text/css">
ol { list-style-type: lower-alpha }
a { background-color: #EEE; padding: 3px }
div { margin: 10px auto; padding: 10px }
</style>
</head>
<body>
<div>
This will create a bookmarklet for the url2ctxo service. <br/>
Either...
<ol>
<li>Click and drag the following link to your bookmarks toolbar (FireFox), or 
<li>right-click the link and choose "Add to Favorites" (IE)
</ol>
<a href="javascript:(function(){u=location.href;window.open('http://coinage.reallywow.com/apps/url2ctxo?u='+u)})()" title="url2ctxo bookmarklet">url2ctxo</a>
</div>
</body>
</html>
